faiss_cpu==1.11.0
fastapi==0.115.12
PyMuPDF==1.25.2
groq==0.25.0
numpy==2.2.6
Pillow==11.2.1
pydantic==2.11.4
pytesseract==0.3.13
python-dotenv==1.1.0
python_docx==1.1.2
sentence_transformers==4.1.0
tabulate==0.9.0
uvicorn==0.34.2
python_multipart==0.0.20
slowapi==0.1.9
pymongo==4.13.0
