/* Global Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-top: 0;
  text-decoration: underline;
  text-underline-offset: 9px;
}

h2 {
  margin-bottom: 10px;
}

/* Sidebar styling */
aside {
  width: 250px;
  background: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

.doc-item {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.doc-item button {
  text-align: center;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* Main content styling */
main {
  flex: 1;
  padding: 1.5rem;
  background: #f7fafc;
  overflow-y: auto;
}

.upload-box,
.query-box {
  margin-bottom: 1.5rem;
}

input[type="file"],
input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
}

.upload-box button,
.query-box button {
  text-align: center;
  padding: 10px;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.upload-box button:hover,
.query-box button:hover {
  background: navy;
}

.answers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.answers-table th,
.answers-table td {
  border: 1px solid white;
  padding: 10px;
  text-align: left;
}

.themes-box {
  margin-top: 2rem;
  background: white;
  padding: 1rem;
  border-radius: 6px;
  white-space: pre-wrap;
}

#selected-files {
  margin: 10px 10px 10px 0px;
  font-size: 0.9rem;
  color: navy;
}

#upload-status {
  margin: 10px 10px 10px 0px;
  margin-left: 0;
  color: green;
  font-weight: 500;
}

#question-status{
  margin: 10px 10px 10px 0px;
}
